body {
  background-color: #1a1a1d;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.ui.raised.segment {
  padding: 1rem 3rem !important;
}
h1 {
  font-size: 1.9rem !important;
}
h2 {
  padding-top: 1rem;
  text-align: center !important;
  font-size: 1.35rem;
}
p {
  padding: 2rem;
}
.ui.icon.input > i.icon {
  padding: 0 !important;
  display: flex !important;
  justify-content: flex-end !important;
  width: 1.5em;
}
input,
optgroup,
select,
textarea {
  font-size: 100%;
  font-family: auto;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
}
.ui.label {
  font-weight: bold !important;
}

@media only screen and (max-width: 767px) {
  .ui.raised.segment {
    padding: 0 0.5rem !important;
  }
  .ui.large.input {
    width: fit-content;
    padding: 0 !important;
  }

  .ui.icon.input > i.icon {
    padding: 0 !important;
    display: flex !important;
    justify-content: flex-end !important;
    width: 1em;
  }
  .item {
    padding-top: 0 !important;
    margin: 0 !important;
  }
  .input-container {
    display: flex !important;
    justify-content: center !important;
  }
  h1 {
    padding-top: 0.5rem;
    font-size: 1.5rem !important;
  }
  h2 {
    padding: 1rem 0.5rem 0 0.5rem !important;
    text-align: center !important;
  }
  p {
    padding: 0 1rem !important;
  }
}
